<div class="description">
  <h1>Photo Finder</h1>
  <p>
    Photo finder is a test app which is fed from unsplash web api. The app
    allows to search photos from unsplash web by their description and user and
    see the user creator details
  </p>
  <p>
    If you want to start to test the app just click on this button below to get
    your first random photo or try the navbar options
  </p>

  <button (click)="getRandomPhoto()">Get your first photo</button>

  <div class="randomDiv">
    <img id="randomImage" src="{{ randomPhoto }}" alt="" />
  </div>
</div>
