.description {
  color: white;
  display: flex;

  flex-direction: column;
  text-align: center;
  margin: 10vmin 25vmin 10vmin 25vmin;

  button {
    border: 1 px solid grey;
    border-radius: 6px;
    margin: 10% auto 0 auto;
    background-color: rgb(255, 227, 71);
    transition-duration: 1s;
    cursor: pointer;

    button:hover {
      background-color: red;
    }
  }

  .randomDiv {
    display: flex;
    justify-content: center;

    img {
      width: 20em;
      margin: 10vmin;
    }
  }
}
