<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        class="navbar-brand-img"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Canon_EOS_Rebel.svg/1200px-Canon_EOS_Rebel.svg.png"
        alt=""
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            [routerLink]="['/home']"
            class="nav-link active"
            aria-current="page"
            href="#"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/explore']"
            routerLinkActive="router-link-active"
            class="nav-link active"
            href="#"
            >Explore</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/search']"
            routerLinkActive="router-link-active"
            class="nav-link active"
            href="#"
            >Search</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/register']"
            routerLinkActive="router-link-active"
            class="nav-link active"
            href="#"
            >Register</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
