.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-brand {
  .navbar-brand-img {
    width: 6vmax;
    height: 6vmax;
  }
}

@media only screen and (max-width: 992px) {
  .navbar {
    display: flex;
  }

  .navbar-brand-img {
    justify-content: center;
  }
}
@media only screen and (min-width: 992px) {
  .navbar-collapse {
    display: flex;
    justify-content: center;

    .nav-item {
      margin-left: 7vmax;
      margin-right: 7vmax;
      border: 1.3px orange solid;
      border-radius: 10px;
      text-shadow: 0.5px 0.3px 0.8px black;
    }
  }
}
