.btn {
  background-color: rgb(255, 227, 174);
  color: black;
  border: 1px solid orange;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.photo-card-div {
  align-self: center;
  margin: 2vmax 25vmin 5vmin 25vmin;
  background-image: url("../../../../../../../assets/cardBg.png");
  position: relative;

  .user-card-item {
    color: black;
    background-color: rgb(255, 244, 182);
    padding: 4px;
    position: absolute;
    transform: rotate(-20deg);
    float: left;
    top: -15px;
    left: -20px;
    opacity: 0.9;
    border: none;
  }

  .photo-card-item {
    width: 100%;
    height: auto;
    padding: 3%;
    border-radius: 35px;
  }

  .photo-card-description {
    color: white;
    text-align: center;
  }

  .button-bookmark {
    border: none;
    background: none;
  }

  .bookmark-photo {
    width: 2.4vmax;
    padding: 0;
    transition: transform 0.2s;
  }

  .bookmark-photo:hover {
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 992px) {
  .photo-card-div {
    margin: 2vmax 15vmin 5vmin 15vmin;
  }
}
