<div class="container">
  <a
    class="favorites"
    [routerLink]="['/favorites']"
    [state]="{favoritePhotos}"
    routerLinkActive="router-link-active"
    ><p>Favorites</p></a
  >
  <div
    class="photo-card-div"
    *ngFor="let item of photoList | searchPhoto: filterPhoto"
  >
    <button (click)="goUserDetail(item.username)" class="user-card-item">
      <p class="photo-card-item">{{ item.username }}</p>
    </button>

    <img class="photo-card-item" src="{{ item.imgPhoto }}" alt="" />

    <p *ngIf="item.description" class="photo-card-description">
      <q>{{ item.description }}</q>
    </p>
    <button class="button-bookmark" (click)="addToFavorites(item)">
      <img
        class="bookmark-photo"
        src="../../../../../../../assets/bookmark-fill.svg"
        alt=""
        srcset=""
      />
    </button>
  </div>
</div>
