.register-form {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 10% 40% 0 40%;
  .fieldset-form {
    text-align: center;
    margin-bottom: 10%;
    border-bottom: 1px solid whitesmoke;
    text-shadow: 1px 1px 1px whitesmoke;
  }

  .submit-form {
    margin-top: 5%;
    width: 65px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 1px whitesmoke;
  }
}

@media only screen and (max-width: 992px) {
  .register-form {
    margin: 15% 30% 0 30%;
  }
}
