<form
  novalidate
  (ngSubmit)="onSubmit()"
  [formGroup]="registerForm"
  class="register-form"
>
  <fieldset class="fieldset-form">Register</fieldset>

  <label for="email">Email</label>
  <input type="email" name="email" formControlName="email" />
  <div
    *ngIf="
      !registerForm.get('email')?.valid &&
      (registerForm.get('email')?.dirty || submitted)
    "
  >
    Has introducido mal tu email
  </div>
  <label for="password">Password</label>
  <input type="password" name="password" formControlName="password" />
  <div
    *ngIf="
      !registerForm.get('password')?.valid &&
      (registerForm.get('password')?.dirty || submitted)
    "
  >
    Has introducido mal tu contraseña
  </div>
  <label for="passwordRepeated">Repeated password</label>
  <input
    type="password"
    name="passwordRepeated"
    formControlName="passwordRepeated"
  />
  <div
    *ngIf="
      !registerForm.get('passwordRepeated')?.valid &&
      (registerForm.get('passwordRepeated')?.dirty || submitted)
    "
  >
    Tu contraseña no coincide
  </div>
  <button class="submit-form" type="submit">Submit</button>
</form>
