.splitter {
  display: flex;
  justify-content: center;

  .arrow {
    width: 2em;
    overflow: hidden;
  }

  hr.line {
    border: 1.5px solid white;
    width: 30%;
  }

  button {
    background: none;
    border: none;
  }
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 8% 0 8%;
  justify-content: center;

  div {
    display: flex;
    justify-content: center;
    padding: 2%;
  }

  img {
    width: 18vmax;
    margin: 2vmin 0 5vmin 0;
  }
}
