<div class="splitter">
  <hr class="line" />
  <button (click)="display()">
    <img class="arrow" src="../../../../../../../assets/arrowDown.png" alt="" />
  </button>
  <hr class="line" />
</div>

<div class="gallery" *ngIf="displayPhotos">
  <div *ngFor="let item of userGallery">
    <img src="{{ item }}" alt="" />
  </div>
</div>
