<div class="container">
  <div class="photo-card-div" *ngFor="let item of photoList">
    <div class="user-card-item">
      <p class="photo-card-item">{{ item.username }}</p>
    </div>

    <img class="photo-card-item" src="{{ item.imgPhoto }}" alt="" />
  </div>

  <div class="paginator-panel">
    <button
      class="page-button button-1"
      (click)="clickPaginatorPrevious()"
      *ngIf="activePreviousButton"
    >
      Previous
    </button>
    <button class="page-button button-2" (click)="clickPaginatorNext()">
      Page {{ paginatorCounter }}
    </button>
  </div>
</div>
