.photo-card-div {
  align-self: center;
  margin: 2vmax 25vmin 5vmin 25vmin;
  background-image: url("../../../../../assets/cardBg.png");
  position: relative;

  .user-card-item {
    color: black;
    background-color: rgb(255, 244, 182);
    padding: 4px;
    position: absolute;
    transform: rotate(-20deg);
    float: left;
    top: -15px;
    left: -20px;
    opacity: 0.9;
  }

  .photo-card-item {
    width: 100%;
    height: auto;
    padding: 3%;
    border-radius: 35px;
  }

  .bookmark-photo {
    width: 2.5vmax;
    padding: 0;
  }
}

.page-button {
  border: none;
  position: fixed;
  border: none;
  border-radius: 0.5em;
  background-color: gold;
}

.button-1 {
  bottom: 10px;
  left: 2px;
}

.button-2 {
  bottom: 10px;
  left: 80px;
}
@media only screen and (max-width: 992px) {
  .photo-card-div {
    margin: 2vmax 15vmin 5vmin 15vmin;
  }

  .page-button {
    position: static;
  }
}
