<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex">
      <input
        (keyup)="sendSearchInput($event)"
        class="form-control me-2"
        name="filterPhoto"
        type="search"
        placeholder="Search your photo..."
        aria-label="Search"
        [(ngModel)]="filterPhoto"
      />
    </form>
  </div>
</nav>

<app-search-content [filterPhoto]="filterPhoto"></app-search-content>
