/* You can add global styles to this file, and also import other style files */

body {
  background: linear-gradient(
      to right top,
      #000000,
      #181818,
      #292929,
      #3c3c3c,
      #4f4f4f
    )
    no-repeat center center fixed;
}

@mixin photo-card-div {
  align-self: center;
  margin: 2vmax 25vmin 5vmin 25vmin;
  background-image: url("../../../../../../../assets/cardBg.png");
  position: relative;
}
