<div class="card-user-div" *ngFor="let item of userList">
  <div class="user-div">
    <p>{{ item.username }}</p>
    <img src="{{ item.profileImage }}" alt="profileImage" />
  </div>
  <div class="bio-div">
    <p>
      <q>{{ item.bio }}</q>
    </p>
  </div>
  <div class="social-div">
    <a href="https://instagram.com/{{ item.instagramLink }}" target="_blanck"
      ><img
        class="instagram-icon"
        src="../../../../../../assets/instagramIcon.png"
        alt="instagramLink"
    /></a>
    <a href="https://twitter.com/{{ item.instagramLink }}" target="_blanck"
      ><img
        src="../../../../../../assets/twitterIcon.png"
        alt="twitterLink"
        class="twitter-icon"
    /></a>
  </div>
</div>

<app-user-detail-photos [userGallery]="userGallery"></app-user-detail-photos>
