.card-user-div {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10% 30% 5% 30%;

  .user-div {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20%;
    text-transform: capitalize;

    img {
      border-radius: 10px;
      margin-left: 10px;
    }
  }

  .bio-div {
    margin-bottom: 20%;
    color: gold;
  }

  .social-div {
    display: flex;
    justify-content: space-evenly;
    img {
      width: 50px;
      border-radius: 5px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .card-user-div {
    margin: 10% 35% 5% 35%;
  }
}
